@model List<SIMS_Demo.Models.Teacher>

@{
    ViewData["Title"] = "Teacher List";
}

<h1>Teachers</h1>
<a href="@Url.Action("NewTeacher")" class="btn btn-primary">Add New Teacher</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.Name</td>
                <td>@teacher.DoB.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@teacher.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
